<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test name = "TC_082_Verify Authentication process of a finsys user having role of either CFO/FM/COH/RM/ITM/ABM">
      <classes>
      <class name="ej.finsys.Testsuite.Test_Execution">
      <methods>
      <include name="LoginwithCFO"></include>
      </methods>
      </class>
      </classes>
      </test>
 <test name = "TC_083_Verify Creation of a New Company by passing all Valid Details">
      <classes>
      <class name="ej.finsys.Testsuite.Test_Execution">
      <methods>
      <include name="createManageCompanyTest"></include>
      </methods>
      </class>  
      </classes> 
      </test>  
 <test name = "TC_084_Verify updated details of the Company are properly reflecting on View Company Page">
      <classes>
      <class name="ej.finsys.Testsuite.Test_Execution">
      <methods>
      <include name="updatemanagecompany"></include>
      </methods>
      </class>  
      </classes>      
      </test>
 <test name = "TC_085_Verify of Deletion of a Recently added Company whose revenue and expense related information is not available">
      <classes>
      <class name="ej.finsys.Testsuite.Test_Execution">
      <methods>
      <include name="deletecompany"></include>
      </methods>
      </class>  
      </classes>  
      </test>  
  <test name = "TC_086_Verify of Deletion of a Company whose revenue and expense related information is available">
      <classes>
      <class name="ej.finsys.Testsuite.Test_Execution">
      <methods>
      <include name="deletecompanywithLI"></include>
      </methods>
      </class>  
      </classes>      
      </test>
   <test name = "TC_088_Verify Creation of a New Leasehold Improvements by passing all Valid Details">
     <classes>
      <class name="ej.finsys.Testsuite.Test_Execution">
      <methods>
      <include name="createleaseholdimp"></include>
      </methods>
      </class>  
      </classes> 
      </test>
    
</suite> <!-- Suite -->
